[submodule "back"]
	path = back
	url = https://izszzz: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@github.com/StaveService/back.git
	branch = main

[submodule "front"]
	path = front
	url = https://izszzz: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@github.com/StaveService/front.git
	branch =  gh-pages
